<section class="main-content">
    <div>
        <section>
            <div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label> Mark</label>
                            <input #mark class="form-control">
                        </div>

                        <h2>Parent Component</h2>
                        <p>Message from Child: {{ messageFromChild }}</p>

                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <app-child [messageFromParent]="parentMessage"
                            (messageEvent)="receiveMessage($event)"></app-child>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>